<nav style="background:#222; padding:15px;">
  <ul style="list-style:none; display:flex; gap:20px;">
    <li><a style="color:white;" href="/">Home</a></li>
    <li><a style="color:white;" href="/actor1">Actor 1</a></li>
    <li><a style="color:white;" href="/actor2">Actor 2</a></li>
    <li><a style="color:white;" href="/actor3">Actor 3</a></li>
    <li><a style="color:white;" href="/actor4">Actor 4</a></li>
  </ul>
</nav>
<hr>
